header {
  background-color: B0FFEC
}
main {
  background-color: E3FFF8
}
footer {
  background-color: B0FFEC
}



p {
  color: 3C8876
}
h1 {
  color: 387A6A
}



header p {
  color: 3C8876;
  font-size: 35px
}
main p {
  color: 3C8876;
  font-size: 15px
}



main img {
position: absolute;
width: 345px;
height: 555px;
}



a{
  color: 3C8876;
  font-size: 17px
}
main a {
  color: B0FFEC;
  background-color: 3C8876;
  font-size: 25px;
  border: 1px solid;
  border-radius: 30px
}
