header {
  background-color: B0FFEC;
}
main {
  background-color: E3FFF8;
}
footer {
  background-color: B0FFEC;
}



h1 {
  color: 387A6A;
  font-size: 23px;
  text-align: center;
}



h4 {
  color: 387A6A;
  font-size: 14px;
  text-align: center;
}



header p {
  color: 3C8876;
  font-size: 35px;
  text-align: left;
}
main p {
  color: 3C8876;
  font-size: 15px;
  text-align: left;
}



main img {
  width: 136px;
  height: 220px;
  margin: 50px 50px 50px 50px;
  align: center;
}

a{
  color: 3C8876;
  font-size: 17px;
}
main a {
  color: B0FFEC;
  background-color: 3C8876;
  font-size: 25px;
  border: 1px solid;
  border-radius: 30px;
}


.info {
  display: flex;
}
