header {
  background-color: B0FFEC
}
main {
  background-color: E3FFF8
}
footer {
  background-color: B0FFEC
}



h1 {
  color: 387A6A;
  font-size: 23px;
  alight: center
}



header p {
  color: 3C8876;
  font-size: 35px;
  alight: center
}
main p {
  color: 3C8876;
  font-size: 15px;
  alight: left
}



main img {
position: absolute;
}



a{
  color: 3C8876;
  font-size: 17px
}
main a {
  color: B0FFEC;
  background-color: 3C8876;
  font-size: 25px;
  border: 1px solid;
  border-radius: 30px
}
